.turntable {
    position: fixed;

    width: 825px;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    display: flex;
    justify-content: center;
    align-items: center;
}

.base {
    width: 100%;
    display: block;
}

.disk {
    position: absolute;

    left: 68px;   
    top: 38px;

    width: 354px;

    transform-origin: 50% 50%;
    transform-box: fill-box;
}

.spinning {
    animation: spin 12s linear infinite;
}

@keyframes spin {

    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }

}   