.upload {
  position: fixed;

  bottom: 30px;
  left: 50%;

  transform: translateX(-50%);
}

.upload-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 150px;
  height: 52px;

  background: #000;
  color: #fff;

  border-radius: 0px;

  font-size: 16px;
  font-weight: 600;

  cursor: pointer;
  transition: 0.25s ease;
}

.upload-button:hover {
  background: #1d1d1d;
  transform: translateY(-2px);
}

.upload-button.disabled {
  background: #1d1d1d;
  color: #6a6a6a;
  cursor: not-allowed;
  pointer-events: none;
}

input[type="file"] {
  display: none;
}